#PhpStorm
.idea

#tmp
*.php~

#Composer
composer.phar
#composer.lock

#mergetool files
*.orig
*.remote

www.technodevice.com.ua/uploads/*
www.technodevice.com.ua/sandbox/*
www.technodevice.com.ua/bundles/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
build
vendor
/compiled/
behat.yml

www.technodevice.com.ua/sandbox
www.technodevice.com.ua/tmp
www.technodevice.com.ua/robots.txt
www.technodevice.com.ua/*/compiled/*