#PhpStorm
.idea

#tmp
*.php~

#Composer
composer.phar
#composer.lock

#mergetool files
*.orig
*.remote

web/uploads/*
web/bundles/*
app/bootstrap.php.cache
app/cache/*
app/logs/*
app/config/parameters.yml
build
vendor
/compiled/
behat.yml

web/sandbox
web/tmp
web/robots.txt