{% extends 'AppMainBundle::layout.html.twig' %}

{% import 'AppMainBundle:Macros:breadcrambs.html.twig' as breadcrambs %}
{% block breadcrumbs %}{{ breadcrambs.cart(cart) }}{% endblock %}

{% block layout_left %}
    <div class="info-block hidden">
        {% render(controller('AppMainBundle:Default:renderCategoryMenu')) %}
    </div>
{% endblock %}

{% block wide_content %}
    <div class="clearfix"></div>
    {% include 'AppMainBundle:Cart:_form.html.twig' with {cart:cart} %}
{% endblock %}
