{% extends "AppMainBundle::layout.html.twig" %}

{% block content %}
<div class="app-main security registration">
    {% include "FOSUserBundle:Registration:register_content.html.twig" %}
</div>
{% endblock content %}
