{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <div class="app-admin category-list-priority">
        <input type="text" value="{{ object.priority }}" maxlength="5" size="3"/>
        <a data-url="{{ admin.generateObjectUrl('priority', object) }}" class="btn btn-small">OK</a>
    </div>

{% endblock %}
