{% block form_row %}
    {% import 'AppMainBundle:Macros:form.html.twig' as form_macros %}
    {% spaceless %}
        <div class="form-group">
            {{ form_errors(form) }}
            {{ form_label(form, label, { 'label_attr': { 'class' :  'control-label' }} ) }}
            {{ form_macros.widget(form) }}
        </div>
    {% endspaceless %}
{% endblock form_row %}
