{% block brand_checkboxes_widget %}
    {% spaceless %}
        <ul>
            {% for child in form %}
                <li>
                    <label>{{ form_widget(child) }} {{ child.vars.label }}</label>
                </li>
            {% endfor %}
        </ul>
    {% endspaceless %}
{% endblock %}

{% block checkbox_widget %}
    {% spaceless %}
        <label>
            <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
            </label>
    {% endspaceless %}
{% endblock %}
