{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field%}
    <a href="{{ admin.generateObjectUrl('createProduct', object) }}" class="btn btn-small" title="" target="_blank">
        Создать продукт с прототипа
    </a>
{% endblock %}
