@import "mixins";
@import "reset";
@import "../../../../../../vendor/jlong/sass-twitter-bootstrap/lib/bootstrap.scss";

$layout-width: 940px;
$layout-left-width: 280px;
$layout-main-width: 640px;
$color-gradient-yellow: #fbb321;
$color-gradient-red: #eb4909;


@import "layout";

.app-main{
  @import "controller/default";
}


