{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block form %}
    {% if object.selectedPrototype %}
        <h2>{{ object.selectedPrototype.name }}</h2>
    {% endif %}
    {{ parent() }}
{% endblock %}
