{% extends 'AppMainBundle::layout.html.twig' %}

{% import 'AppMainBundle:Macros:breadcrambs.html.twig' as breadcrambs %}
{% block breadcrumbs %}{{ breadcrambs.category(category) }}{% endblock %}

{% block content %}
    <div class="app-main category show">
        {% include 'AppMainBundle:Category/partials:_list_wrapper.html.twig' with { categories: category.getChilds } %}
    </div>

    {% if category.page is not null %}
        <div class="clearfix"></div>
        {% render(controller('RidPageBundle:Page:renderPage', {slug: category.page.slug})) %}
    {% endif %}
{% endblock %}

{#{% block init %}#}
    {#{% if category is not null and category.page is not null %}#}
        {#{{ rid_page_setup_seo(category.page) }}#}
    {#{% endif %}#}
{#{% endblock %}#}